@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$main-color: #667583;
$blue-color: #408ba6;
$green-color: #7fb24b;

$text-white: #ffffff;
$text-light: #b5c0cb;
$text-regular: #667583;
$text-dark: #313131;

$font-main: 'Open Sans', sans-serif;
$font-alt: 'Montserrat', sans-serif;


$weight-light: 300;
$weight-regular: 400;
$weight-medium: 600;
$weight-bold: 700;

$bg-color: #2F393C;
$avatar-bg: #D9E8ED;

$color-gradient: linear-gradient(45deg, rgb(198, 68, 252) 0%, rgb(88, 86, 214) 82%, rgb(88, 86, 214) 100%);

$nav-shadow: 0 1px 0 rgba(black, .065);